<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{{title}}</title>
  </head>
  <body style="background-color:#E5EEE9;" >
    <div class="text-center">
      <img width="80px"src="../Images/Logo.png" alt="Logo"/>
    </div>

      <nav class = "navbar navbar-dark" style="background-color:#60C394;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">View Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Set Budget</a>
            </li>
         </ul>
      </nav>
      {{{body}}}
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="../Scripts/script.js"></script>
  </body>
</html>
