<div class="header"></div>
<nav id="nav" class = "navbar navbar-dark" style="background-color:#60C394;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">View Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" onclick=openBudgetForm()>Set Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" id="add-expense-button" href="#" onclick=openForm()>Add New Expense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/logout" id="logout-but">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/about" id="about-but">ABOUT-US</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile" id="hey">..</a>
            </li> --}}
</ul>
</nav>

      <h3>About US</h3>
