<div class="header"></div>
<nav id="nav" class = "navbar navbar-dark" style="background-color:#60C394;">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile">Expenses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">View Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" onclick=openBudgetForm()>Set Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" id="add-expense-button" href="#" onclick=openForm()>Add New Expense</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/users/logout" id="logout-but">LOGOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/about" id="about-but">About-Us</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link text-white" href="/users/profile" id="hey">..</a>
            </li> --}}
</ul>
<div class="welcome"><small>{{msg}}</small></div>
</nav>

    <div class="content">
      <h3>About US</h3>
      <div class="aboutOne">
            <div class="img">
                <img src="https://simg.nicepng.com/png/small/42-428672_young-mans-face-silhouette-silhouette-clip-art-male.png" height="130px" width="130px" style="border-radius: 50%" alt=""" height="130px" width="130px" style="border-radius: 50%" alt="">
            </div>
            <div class="nameOne">
                <p>Ajay Chakravarthy</p>
            </div>
            <div class="form-group">
                <a class="link" href="#"><p>LinkedIn</p></a>
            </div>
          </div>

          <div class="aboutTwo">
            <div class="img">
                <img src="https://simg.nicepng.com/png/small/42-428672_young-mans-face-silhouette-silhouette-clip-art-male.png" height="130px" width="130px" style="border-radius: 50%" alt=""" height="130px" width="130px" style="border-radius: 50%" alt="">
            </div>
            <div class="nameTwo">
                <p>Alok Hazarika</p>
            </div>
            <div class="form-group">
                <a class="link"  href="#"><p>LinkedIn</p></a>
            </div>
          </div>

          <div class="aboutThree">
            <div class="img">
                <img src="https://simg.nicepng.com/png/small/42-428672_young-mans-face-silhouette-silhouette-clip-art-male.png" height="130px" width="130px" style="border-radius: 50%" alt="">
            </div>
            <div class="nameThree">
                <p>Abhishek Mazumdar</p>
            </div>
            <div class="form-group">
                <a class="link" href="#"><p>LinkedIn</p></a>
            </div>
          </div>
        </div>


      <h3>About US</h3>

