<div class="already">
    <h2>Sorry mate... This email is already registered.</h2>
    <div class="signin-block-wrong">
     <small>Already a member?</small><a href="/users/signin">SignIn</a>
    </div>

    <div class="reset-block">
     <small>Try signingup once more..</small><a href="/users/signup">SignUp</a>
    </div>
</div>
</div>