<div id="mixChartContainer">
   <canvas id="canvas" style="width:80%;"></canvas>
</div>
<script>
var ctx = document.getElementById('canvas').getContext('2d');
var mixedChart = new Chart(ctx, {
  type: 'bar',
  data: {
      datasets: [{
         label: 'Expense' ,
         data: [{{amount}}]
      }, {
           type: 'line',
          label: 'Budget' ,
          data: [{{budget}}] 
         
      }],
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }
  }
});
</script>


