<div id="mixChartContainer">
   <canvas id="canvas" style="width:80%;"></canvas>
</div>
<script>
var ctx = document.getElementById('canvas').getContext('2d');
var mixedChart = new Chart(ctx, {
  type: 'bar',
  data: {
      datasets: [{
          label: 'Expenses',
          data: [10, 20, 30, 40,50,60,70,80,90],
          backgroundColor:['rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)','rgba(54, 162, 235, 0.2)']
      }, {
          label: 'Budget',
          data: [50, 30, 40, 60,50,40,80,10,20],
          type: 'line'
      }],
      labels: ['January', 'February', 'March', 'April','May','June','July','August','September']
  },
  options: {
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }
  }
});
</script>