<div id="barChartContainer" style="width:80%; padding-top:100px;">
    <canvas id="canvas"></canvas>
</div>
<script>
var ctx = document.getElementById('canvas').getContext('2d');
var bgcol = []; var bdcol=[];
var data1 = {};
data1.labels = [];
for (var i = 0; i < [{{amount}}].length; i++) {
  bgcol.push('rgba(54, 162, 235, 0.2)');
  bdcol.push('rgba(54, 162, 235, 1)');
  data1.labels.push('Exp# ' +(i+1));
}

data1.datasets = [{
  label: 'Expense in INR' ,
  data: [{{amount}}],
  backgroundColor:bgcol,
  borderColor: bdcol,
  borderWidth: 1
}];

var myChart = new Chart(ctx, {
    type: 'bar',
    data: data1,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
