
<div class="reset-text">
    <h2>Sorry Wrong Credentials</h2>

    <div class="signin-block-wrong">
     <small>Already a member?</small><a href="/users/signin">SignIn</a>
    </div>

    <div class="reset-block">
     <small>Forgot Password?</small><a href="/users/reset">Reset-Password</a>
    </div>
</div>
