*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form-popup, .pop-up-addExpense{
    display: none;
    position: fixed;
    bottom: 50%;
    margin-left: 25%;
    margin-right: 15%;
    z-index: 5;
    border: 1px solid gray;
}
.header{
    height: 50px;
    position: absolute;
    background-color:#8C8CD8;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%; 

}
#signup-btn{
    position: absolute;
    top: 400px;
    right: 113px;
    padding: 12px 51px;
    background-color: blue;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}
#signin-btn{
    position: absolute;
    top: 430px;
    right: 113px;
    padding: 12px 55px;
    background-color: blue;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}
#signup-btn:hover, #signin-btn:hover {
    opacity: 1;
    color: black;
}
.vl {
    border-left: 3px solid #8282FF;
    height: 550px;
    opacity: 0.8;
    position: absolute;
    left: 70%;
    top:170px;
    margin-left: -3px;
  }


.reg-form{
    width: 300px;
    height: 5000px;
    position: absolute;
    left: 50%;
    right:50%;
    border: 1px solid black;
}


